html{
    font-size: 16px;
}

main{

    font-size: 0.75em;
    width: 50%;
    margin: auto;
   
}
h1{
    text-transform: uppercase;
    text-align: center;
    border-bottom-width: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h2{
    text-transform: uppercase;
    font-size: 1.5em;
    color: #ffffff;
    background-color: grey;
}
img{
    width: 400px;
    height: 400px;
    margin-right: 15px;
    border-radius: 50%;
}
ul,ol{
    background: linear-gradient(180deg, blue 23%, red 23%,pink 47%, pink 75%, green 75%);
    background-image: radial-gradient(circle, blue 23%, red 23%,pink 47%, pink 75%, green 75%);
}

dd{
   background-image: conic-gradient(pink 47%, pink 75%, green 75%) ;
   -webkit-background-clip: text;
}

p{
    height: 100px;
    overflow: auto;
    font-size: 2em;
    line-height: 1.5em;
}